<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>SUSMATE 🐍</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="bg-shape shape1"></div>

<div class="bg-shape shape2"></div>


<div class="home-container">


    <div class="top-text">

        FRIENDS • QUESTIONS • SUS • FUN

    </div>


    <div class="crown">

        👑

    </div>


    <h1 class="logo">

        SUS<span>MATE</span>

    </h1>


    <p class="tagline">

        Scan your circle.
        <br>
        spot the snake!

    </p>


    <div class="snake-home">

        🐍

    </div>


   <a href="/new-game" class="start-link">

    <button class="start-game-btn">

        <span class="btn-icon"></span>

        <span>
            START THE GAME
        </span>

        <span class="arrow">
            →
        </span>

    </button>

</a>
<div class="game-warning">

    <div class="warning-line">

        ⚡ NO FRIENDSHIP IS SAFE ⚡

    </div>


    <h2>

        WHO IS THE BIGGEST
        <span>SNAKE</span>
        IN YOUR GANG?

    </h2>


    <p>

        Add your squad.
        Answer the questions.
        Expose the SUS one. 🐍

    </p>

</div>
</body>

</html>